@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

:root{
  --dark-blue:#252B42;
  --sky-blue:#23A6F8;
  --light-sky-blue:#B2E3FF;
  --light-orange:#E77C40;
  --red:#E74040;
  --light-pain:#FFDCD1;
  --light-gray:#737373;
  --yellow:#F3CD03;
  --green:#2DC071;
  --light-green:#B9EAA8;




}


body{
   font-family: "Montserrat", sans-serif;
   font-size: 16px;
}

ul{
list-style: none;

}

a{
  text-decoration: none;
}
p{
  line-height: 1.4;
}

/** Utility classes */
.container{
  max-width: 1100px;
 
  margin: auto;
  padding: 0 2rem;
}

/** Header start */
#header {
background-color: var(--dark-blue);
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
max-width: 1100px;
margin: auto;
padding: 0 2rem;
height: 100px;
}
.navbar a {
  color: #fff;
}

.navbar .logo {
font-size: 24px;
font-weight: 600;
}
.navbar ul {
  display: flex;
}
.navbar ul li a {
margin: 0 10px;
font-weight: 500;
transition: all 0,3s ease;
}
.navbar ul li a:hover{
  color: var(--red);
}
.navbar .account .btn-join{
  background-color: var(--sky-blue);
  padding: 10px 20px;
  margin: left 25px;
  border-radius: 5px;
  text-transform: uppercase;
}
.navbar .account .btn-join svg{
  font-size: 12px;
  margin-left: 5px;
  vertical-align: middle;
}
/** Header End */

/** main start  */
/** home start  */
#home{
  background-color: var(--dark-blue);
  padding: 5rem 0;
}

#home .home-header {
  text-align: center;
  color: #fff;
  max-width: 450px;
  
  margin: auto;
}

#home .home-header span{
  color: var(--red);
  font-weight: 600;

}

#home .home-header h1{
  font-size: 40px;
  font-weight: 600;
  margin: 20px 0;
  color: var(--light-pain);
}
#home .home-header p{
  margin-bottom : 30px;
  color: var(--light-pain);
  line-height: 1.6;
}

#home .home-header .btn{
  padding: 10px 30px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid var(--red);
  margin: 0 5px;
}
#home .home-header .btn.btn-red{
  color: #fff;
  background-color: var(--red);
}
#home .home-header .btn.btn-transparent{
  background-color: transparent;
  color: var(--red);
}

/** tari  */
#join-us{
  background-color: var(--dark-blue);
  padding: 6rem 0;
}
#join-us .content{
  min-width: 600px;

  margin: auto;
text-align: center;
color: #fff;

}
#join-us .content .h2{
  font-size: 35px;
  margin: 15px 0;
}
/** kzane footer  */
#sd {
    background-color: var(--dark-blue);
  padding: 6rem 0;
    min-width: 600px;

  margin: auto;
text-align: center;
color: #fff;

}
/** home End */
/** main End */
